%h1 Listing lynks

%table
  %tr
    %th Deal
    %th User
    %th
    %th
    %th

  - @lynks.each do |lynk|
    %tr
      %td= lynk.deal
      %td= lynk.user
      %td= link_to 'Show', lynk
      %td= link_to 'Edit', edit_lynk_path(lynk)
      %td= link_to 'Destroy', lynk, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Lynk', new_lynk_path
