%h1 Listing users

%table
  %tr
    %th Email
    %th Password
    %th Supplier
    %th
    %th
    %th

  - @users.each do |user|
    %tr
      %td= user.email
      %td= user.password_digest
      - @user = user
      %td= check_box "user", "supplier", {:disabled => true}
      %td= link_to 'Show', user
      %td= link_to 'Edit', edit_user_path(user)
      %td= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New User', new_user_path
