

%p
  %b Email:
  = @user.email
%p
  %b Password:
  = @user.password_digest
%p
  %b Supplier:
  = check_box "user", "supplier", {:disabled => true}
%p
  %b Last Session ID:
  = @user.session_id

= link_to 'Edit', edit_user_path(@user)
\|
= link_to 'Back', users_path
