- title "Welcome"

.lynks
  - @lynks = Lynk.where(:user_id => current_user.id) if current_user
  %h3= "Your Lynks"
  .current_user_lynks{:style=>"display: none;"}= render :template=>'lynks/index'

.deals
  - deals_days_ago = 30
  - number_of_deals = 10
  - @deals = Deal.where("DATE(created_at) > DATE('#{Date.today-deals_days_ago}')").limit(number_of_deals) || Deal.all
  %h3= "Deals in the last #{deals_days_ago} days"
  .last_30_days_deals{:style=>"display: none;"}= render :template=>'deals/index'


-# After page load
#index
  :javascript
    $("h3").each(function () {
      $(this).click(function () {
        $(this).next().toggle("slow");
      });
    });