!!!
%html
  %head
    %title= "Lynkme || #{yield(:title) || 'The Place to Buy Stuff'}"
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application", "http://s1.wp.com/wp-content/plugins/snow/snowstorm.js"
    = csrf_meta_tags
  %body
    .debug
      = "Testing:"
      = link_to "Home", root_path
      = "|"
      = link_to users_path, users_path
    = render 'registration'
    .alerts
      - flash.each do |key, value|
        = content_tag(:p, value, :class => "flash", :id => key)
    .header
      %h2= yield(:title)
    .main
      = yield
    .footer